body {
  font-family: 'Slabo 27px', serif;
  background-color: #0f63ad;
  display: flex;
  justify-content: center;
}

.container {
  background-color: #f7f6e3;
  border-width: 3px;
  border-style: double;
  border-color: #262d33
}


h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  text-align: center;
}


figcaption {
  font-size: 35px;
  text-align: center;
  text-decoration-style: bold;
  font-size: 120%;
  margin-bottom: 2px
}


#toms {
  height: 500px;
  width: 882px;
  border-width: 2px;
  border-style: solid;
  border-color: #262d33;
}

#reservations {
  height: 300px;
  width: 882px;
  padding-right: 5px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}

.reservation-boxes {
  height: 250px;
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-color: #262d33;
}

h4 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 2px;
}

#new {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

button {
  width: 25.5vw;
  margin-left: 5px;
  margin-top: 30px;
  background-color: #efefef;
}

.res-input {
  width: 25vw;
  margin: 5px;
}


table {
  width: 350px;
  background-color: #efefef;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
/*  padding: 10px 0px 0px 0px;*/
/*  border-width: 1px;
  border-style: solid;
  border-color: #262d33;*/
}

#table {
  height: 250px;
  width: 400px;
}



#existing {

}

#come {
  height: 500px;
  width: 882px;
  border-width: 1px;
  padding-right: 5px;
  padding-left: 40px;
}

#map {
  height: 400px;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: #262d33;
}

#customer-reviews {
  height: 300px;
  width: 882px;
  padding-right: 5px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}

#george {
  border-width: 1px;
  border-style: solid;
  border-color: #262d33;
}


#comments {
  font-style: italic;
  font-size: 20px;
  margin-left: 20px;
}

#commenters {
  font-size: 20px;
  margin-left: 25px;
}


